# BASIC VALUES & KEYS
DEV_ENV=true # Ensures values are pulled from .env in dev
BACKEND_URL=http://localhost:3000
PORT=3000
LOG_LEVEL=debug
USE_PRESIGNED_UPLOADS=true
DB_SECRET_REFRESH_INTERVAL_MS=30000
BETTER_AUTH_SECRET= # AWS Secrets Manager dev/guardconnect/better-auth-dev

# LOCAL POSTGRES
POSTGRES_USER=commng-pg-user
POSTGRES_PASSWORD=localpassword
POSTGRES_DB=comm_ng

# AWS
AWS_REGION="us-east-1"
S3_BUCKET_NAME=dev-comm-ng-files-6c661e9c
# Need IAM permissions in group "guardconnect-dev-s3-upload"

# VAPID - Get from AWS Secrets Manager dev/comm_ng/vapid-keys
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_CONTACT_EMAIL=

# TWILIO - Get from AWS Secrets Manager prod/guardconnect/twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
